<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEpUJleIIR_F7Nzg7ZJEiNU_3oGZLJTyk</string>
	<key>BUNDLE_ID</key>
	<string>com.GalacticHunter.My-Astro-Journal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CLIENT_ID</key>
	<string>15009773027-2abul2cghtrifuqp0lb2s7g1fie891eh.apps.googleusercontent.com</string>
	<key>DATABASE_URL</key>
	<string>https://my-astro-journal-fe0ee.firebaseio.com</string>
	<key>GCM_SENDER_ID</key>
	<string>15009773027</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:15009773027:ios:fe5b925bc56fd14eba5cd6</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>facebook</string>
		<string>youtube</string>
	</array>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>my-astro-journal-fe0ee</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929675085624-go7o9jpqcmih9ttvg123p9otl775logq</string>
	<key>STORAGE_BUCKET</key>
	<string>my-astro-journal-fe0ee.appspot.com</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
